@charset "utf-8";
/* CSS Document */
#masthead, #banners, #secondary, #footer{
	display:none;
}

.full-width {
	width:100% !important;
}
#page {
	background-image:none;
}
.container {
	width:100% !important;
	max-width:100% !important;
	
}
#primary{
margin:0px;
padding:0px;
width:100% !important;
text-align:left;
}
h1 {font-size:22px;}
h2 {font-size:16px;!important}
#donorpremques {font-size:14px;!important}
button {
font-size:18px;
padding:7px 35px 8px 11px;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

p {
line-height:120% !important;
font-size:12px !important;
}
#main {
	margin:0px auto;
	max-width:90% !important;
}
.clearboth{
	margin:0px;
}

/* Form styling */
#forms.side_container{
width:90% !important;	
float:none;
margin-left:0px;
margin-top:0px;
margin-bottom:15px;
}
#forms.side_container h2 {
	font-size:19px !important;
}
#forms.side_container label {
	margin-top:5px !important;
}

div.floatright{
	float:none;
	margin:0px auto;
	}
	
.imgborder {
	width:26%;
}
.form-row{
	width:90% !important;
}
#poster {
	width:100% !important;
}
#donorpremques {
	font-size:14px !important;
}
	
fieldset label, fieldset select, fieldset input {
	font-size:14px !important;
}
fieldset input[type="text"] {
	font-size: 18px !important;
	height:40px !important;
}


/*  Donation Summary Page */
#forms.tab_container{
	margin-left:0px !important;
	width:93% !important;}
	
	#statelabel {width: 160px !important;}
	#zipLabel {width: 34px !important;
height: 20px !important;
	white-space:nowrap;
	overflow: hidden;}
	#forms fieldset .medium select, #forms.tab_container .medium {width:150px !important; margin-right:10px !important;}
	#forms.tab_container .tiny {width:80px !important;}
	#card_zip {width:75px !important;}

#forms.tab_container fieldset input[type="text"] {
	font-size: 16px !important;
	height:35px !important;
}
#forms fieldset select {
	height:37px !important;
}

#forms fieldset .form-row-quest textarea, #forms fieldset .form-row-quest, #forms fieldset .form-row {
	width:90% !important;
}
.ombShort {
	margin: 0px !important;
}

fieldset ul {
	width:100%!important;}
	
	/* Pay.gov CSS editing */
	
	#r_wrapper {
		width:90% !important;
	}
	#r_wrapper img {
		width:100% !important;
	}
	div.warning {
		display:none;}

