body {margin:0px;padding:0px;background:#003552;}
#afui{background:#003552!important;}
.localcontentpanel{
padding:15px !important;
min-width:100%;
min-height:100%;}

#content{background:#E1DEC7!important;}

h1 {
	font-family: 'EB Garamond', serif !important;
	font-size:22px !important;
	text-shadow:rgba(0,0,0,1) 1px 1px 2px;
	margin-bottom:5px !important;
	/*background-image: url('../../icon.gif');
	background-repeat: no-repeat;
	background-size: 36px;
	background-position-x: 100px;
	background-position-y: 5px;*/

}
.localcontentpanel h2 {
font-family: 'EB Garamond', serif !important;
font-size:22px !important;
text-shadow:none;	
border-width:1px;
/*border-style:solid;*/
/*border-color:transparent transparent #DBD8C5 transparent;*/
/*top left bottom right */
}

 /* Info page styling */
#mainmenu {margin-top:30px !important; margin-bottom:15px !important;}

.submenu{margin-top:30px !important;}

.infolist {margin-left:35px !important;}
.infolist li {margin-top:5px;}
.note {font-size:12px !important; line-height:1em !important; margin-top:25px;}
#navbar {
	text-shadow:none;
}

#navbar .icon:before {
margin-top: -17px !important;
padding-left: 0px !important;
margin-left:0px!important;
font-size: 31.5px !important;
line-height: 55px !important;}

#navbar a {top:-1px !important; height:49px!important; width:55px !important;
font-size: 11px!important;
font-family: Helvetica;
/*margin-top: 5px!important;*/
padding-top: 4px;}


footer {
	text-align:center;
}

footer .horzRule { margin:0px auto;}

.panel {padding:0px !important;}



/* Career Styling */

#reslist li {
	padding: 8px 15px 8px 8px !important;
}

#reslist h3 {
	font-size:13px;
}
#reslist h4 {
	font-size:11px;
}


#jobtext {padding:10px;}
#jobtext li {margin-left:25px;}
#jobtext h1 {text-shadow:none !important;display:block;}
#jobtext h3 {margin-top:12px;clear:both!important;}

#pagelabel {font-size:12px;}
#prevbutton, #nextbutton {padding: 8px 12px 5px 12px;}

.ui-disabled {
	color:#CF9F9F !important;
}

/*  Loading Bar */
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        44px;
    bottom:     49px;
    left:       0;
    max-height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .7 ) 
                url('../img/loading.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

/* Donation page css*/
form fieldset {
border:0px !important;
clear:both!important;}
/*.form-row {text-align:center !important;}*/
button[name="submitDonate"] {
width:100% !important;
height:35px!important;
font-size:14px!important;
}
#ajaxcontent,#localcontent2,#donatepanel2 {padding:8px;}
form p {
line-height:1em !important;
font-size:11px !important;
}
label {font-size:11px !important;}
form h2 {margin-top:5px; clear:both;}
#donateSummaryTable {
width: 100%;
text-align: left;
font-size: 12px;
margin-bottom: 5px;
}
.instruction {font-size:11px !important;
margin-bottom:5px;margin-top:0px;}
#card_phone {width:66% !important;}
#forms h2 {clear:both;margin-top:5px;}

.large {clear:both;}
.form-row-quest {clear:both;}

label[for='donor_type']{padding-right:15px !important;}
label[for='donor_type_organization']{margin-bottom:10px;}
.charRemaining, .charRemaining+span {display:none !important;}
label[for='dedication'],label[for='card_email_consent']{width:87% !important;}
label[for='interest_conflict']{width:85% !important;margin-top:15px!important;}
.submitbutton {width:100%; height:50px; font-size:16px;margin-top:10px;}
label[for='card_source']{padding-top:0px !important;}

form[name='Paymentinfo'] p {display:none;}
p + h2 {display:block!important;}
h2 + fieldset {margin-left:20px!important;}
.actions ul {list-style:none;}
table[summary='This table is used for layout only.'] {width:97%!important;}
table[summary='This table is used for layout only.'] td .label {width:33%;}
table[summary='This table is used for layout only.'] label {width:100%!important;white-space:nowrap!important;}
table[summary='This table is used for layout only.'] select {width:96% !important;float:right;}
table[summary='This table is used for layout only.'] input {width:96% !important;float:right;}
span .rf {float:left;display:inline;}
.smallItal{font-size:10px;}
#csh2 {display:none;}
#cardSecurityCode{width: 50px!important;
float: left!important;
margin-left: 6px;}

#cardHolderState2 {display:none;}
#plasticCardTypeEntered img {display:none;}
#hlp_sc_pop {display:none;}
#expirationMonthEntered {width: 47%!important;float:left;}
#expirationYearEntered {width: 47%!important;float:right;}
input[value='Cancel']{display:none !important;}
.buttons {font-size: 12px;
color: #CE1717;
clear:both;}

#py_title {
	color: #003552;
display: block;
font-family: 'EB Garamond', serif;
font-size: 22px;
font-weight: bold;
margin-bottom: 8px;
text-shadow: none;
}
.pad2 {font-size:12px!important;}
#req_note {font-size:12px!important;}
label[for='authorizeTransaction']{
width: 88%!important;
margin-bottom: 10px;}

#donatepanel2 h1 {text-shadow:none;}