@charset "utf-8";
/* CSS Document */
.load-more.customisable {
/*bottom: 255px;*/
/*bottom:70px;*/
position:relative;
display: block;
bottom:50px;
background-color: #FFF;}

.timeline-footer {
display: block;
bottom:50px;
position:relative;
background: #E8E8E8;
}